* {
  margin: 0;
  padding: 0;
}

#left_title {
  margin-left: 100px;
  margin-top: 30px;
}

#midbody {
  margin-top: 30px;
  width: 100%;
  height: 500px;
  position: relative;
}

#midbody img {
  position: absolute;
  left: -200px;
  width: 113%;
  height: 100%;
}

#bigbox {
  position: absolute;
  background-color: #F0E6F5;
  height: 300px;
  width: 500px;
  margin-left: 850px;
  text-align: center;
  padding-top: 30px;
  margin-top: 80px;
}

#bigbox .form-control {
  width: 250px;
}

#bigbox .input-group-addon {
  width: 80px;
}

#bigbox .input-group {
  margin-left: 100px;
  margin-top: 30px;
}

#bigbox .btn-group-lg {
  margin-top: 30px;
}

#bigbox .btn-group-lg .btn {
  color: wheat;
  background-color: orangered;
  margin-right: 50px;
  margin-left: 70px;
}
